@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;

    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
    /*background-position: center ;*/
    /*background-attachment: fixed;*/
